/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
/* Common styles */
@import url('./reset.css');

.form {
  display: flex;
  flex-direction: row;
  gap: 8px;
  justify-content: center;
  padding-top: 36px;
  padding-bottom: 8px;
}

#search-field {
  width: 272px;
  height: 40px;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.04em;
  color: #808080;
  border: 1px solid #808080;
  border-radius: 4px;
  padding-left: 16px;
}

#search-field:hover {
  border-color: #000000;
  outline: transparent;
}

#search-field:focus {
  outline: transparent;
  border-color: #4e75ff;
}

button {
  width: 91px;
  height: 40px;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.04em;
  color: #ffffff;
  border: none;
  border-radius: 8px;
  background: #4e75ff;
}

button:hover,
button:focus {
  background-color: #6c8cff;
  outline: transparent;
}

/*====== loader-styles ======*/
/* HTML: <div class="loader"></div> */
.loader {
  width: 50px;
  padding: 8px;
  aspect-ratio: 1;
  border-radius: 50%;
  background: #25b09b;
  --_m: conic-gradient(#0000 10%, #000), linear-gradient(#000 0 0) content-box;
  -webkit-mask: var(--_m);
  mask: var(--_m);
  -webkit-mask-composite: source-out;
  mask-composite: subtract;
  animation: l3 1s infinite linear;
  margin-left: auto;
  margin-right: auto;
}

@keyframes l3 {
  to {
    transform: rotate(1turn);
  }
}
.hidden {
  display: none;
}

/*====== /loader styles ======*/

.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  width: 1128px;
  margin-top: 32px;
  margin-bottom: 36px;
  margin-left: auto;
  margin-right: auto;
}

.gallery-item {
  display: flex;
  flex-direction: column;
  width: calc((100% - 48px) / 3);
  /* height: 200px; */
  border: 1px solid #808080;
}

.gallery-image-tumb {
  width: 100%;
  /* height: 152px; */
}

.gallery-image {
  object-fit: cover;
}

.image-info {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.image-info-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.image-info-item-title {
  font-size: 12px;
  font-weight: 600;
  line-height: 1.33;
  letter-spacing: 0.04em;
  color: #2e2f42;
}

.image-info-item-text {
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0.04em;
  color: #2e2f42;
}
